.background    { background: linear-gradient(#4e2775, #1e0e2d);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: #ff6699; }
.wall          { background: #f2ffe6;   }

.actor  { position: absolute;  }
.coin   { background: #a3ffb3; }
.player { background-image: url("images/oct_sprite.png");
          background-size: 30px 30px;}
.floater { background: #e580ff; }
.portal { background: #4cf9ff; }
.flyer { background: #ff6699; }

.game {
  overflow: hidden;
  /*max-width: 600px;
  max-height: 450px;*/
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px pink, 4px -7px 8px pink;
}
